{:deps    {}
 :paths   ["src"]
 :aliases {:dev {:extra-paths ["dev" "test" "web-target"]
                 :extra-deps  {funcool/promesa {:mvn/version "5.1.0"}
                               com.widdindustries/tiadough { :git/url "https://github.com/henryw374/tiado-cljs2"
                                                            :git/sha "0e3949451c0d40b15cf1aafaf0bcc57add7538bf"}
                               }}
           :build {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}
                                io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}}
                   :paths ["dev"]
                   :ns-default build}}}
