{:deps {}
 :paths ["src"]
 :aliases {:dev {:extra-paths ["dev" "test"]
                 :extra-deps {org.clojure/clojure {:mvn/version "1.10.2-alpha1"}
                              org.clojure/clojurescript {:mvn/version "1.10.764"}
                              funcool/promesa {:mvn/version "5.1.0"}
                              com.bhauman/figwheel-main       {:mvn/version "0.2.5"}}}}}
